{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Reputation Game: Bribe
{% endblock %}

{% block content %}

    {% include 'reputation/Instructions.html' %}

    <p>
        You were caught returning less than half of what you received! Please enter the size of the bribe you're willing to make to avoid paying the fine and being exposed as uncooperative player in later rounds. Maximum size of a bribe for you is {{max_bribe}}. If you fail to pay the bribe, you will be subject to a {{ fine }} fine and you will be exposed as uncooperative player in future rounds.
    </p>

    {% formfield group.bribe with label="What is your bribe?" %}

    {% next_button %}

{% endblock %}