{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}
        <p>
            You sent Participant B {{group.sent}}.
            Participant B returned {{group.sent_back}}.
        </p>
    {% else %}
        <p>
            Participant A sent you {{group.sent}}.
            You returned {{group.sent_back}}.
        </p>

    {% endif %}

    <p>
        Therefore, your total payoff is {{player_payoff}}.
    </p>

    {% include 'reputation/Instructions.html' %}

{% endblock %}