{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree %}
{% load i18n %}

{% block title %}
    Bid
{% endblock %}

{% block content %}

    <p>
        The value of the item is estimated to be {{ item_value_estimate }}.
        This estimate may deviate from the actual value by at most {{ error_margin }}.
    </p>

    <p>
        Please make your bid now. The amount can be between {{ min_bid }} and {{ max_bid }}, inclusive.
    </p>

    {% formrow form.bid_amount with label="Bid amount" %}

    {% next_button %}


{% endblock %}
