{% load otree i18n %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        {% trans 'Instructions' %}
    </h3>

    <p>
            {% trans 'You will be grouped randomly and anonymously with another' %} {{ Constants.num_other_players }}
            {% trans 'participants' %}.
    </p>
    <p>
            {% trans 'Each of you decides independently and simultaneously whether you will volunteer or not. If at least one of you volunteers, everyone will get' %}
            {{ Constants.general_benefit }}. {% trans 'However, the volunteer(s) will pay' %} {{ Constants.volunteer_cost }}. {% trans 'If no one volunteers, everyone receives nothing' %}.
    </p>
    </div>
</div>