{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        oTree Library contains a collection of various behavioral economics games that have been developed using
        oTree framework.
    </p>
    <p>
        Showcase Game will give you a preview on some of the interesting features and components that can be used while
        developing games using oTree framework.
    </p>
    <h4>Key Features include:</h4>
    <ul>
        <li>Forms Input Demo / User Input</li>
        <li>Embedding Static Content: Images, Videos</li>
        <li>Front-End Interface: Bootstrap Widgets</li>
        <li>Admin Interface Demo</li>
    </ul>

{% endblock %}