{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Dividend Distribution (Period {{ Constants.round_number }} of {{ Constants.num_rounds }})
{% endblock %}

{% block content %}



    <p>
        The dividend per share for Period {{ Constants.round_number }} is {{ group.dividend_per_share }}. You have {{ player.shares }} shares thus receive {{ dividend_gain }}
        for dividends in total. Now your positions are the following:
    </p>

    <h5 class="text-info text-center">Cash: {{ player.cash }};  Shares: {{ player.shares }}</h5>

    {% next_button %}

    {% include Constants.instructions_template %}


{% endblock %}
