{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Submit Order (Period {{ round_num }} of {{ num_of_rounds }})  {{ order_type }}
{% endblock %}

{% block content %}

    <h5 class="text-info">Cash: {{ cash }};  Shares: {{ shares }}</h5>

    <p>
        You have been randomly assigned a role as <b>{{ role }}</b>, please enter on the number of shares and the {% if buy %}maximum buying price{% else %}
        minimum selling price{% endif %} you desire. The price you enter must be a <b>non-negative integer.</b>
    </p>
    <p>
        If you do not want to buy or sell shares, click next and proceed.</b>
    </p>

    {% if buy %}
        <h5>Buy Order</h5>
        {% formrow form.bn with label="Number of shares" %}
        {% formrow form.bp with label="for at most per share" %}

    {% else %}
        <h5>Sell Order</h5>
        {% formrow form.sn with label="Number of shares" %}
        {% formrow form.sp with label="for at least per share" %}
    {% endif %}

    {% next_button %}

    {% include 'asset_market/Rules.html' %}


{% endblock %}