<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>

    $(function () {
    $('#container').highcharts({
        title: {
            text: '',
            x: -20 //center
        },
        xAxis: {
            categories: ['Period 1', 'Period 2', 'Period 3', 'Period 4', 'Period 5']
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'horizontal',
            verticalAlign: 'top',
            borderWidth: 0
        },
        series: [{
            name: 'Transaction Price',
            data: {{ transaction_price }}
        }, {
            name: 'Dividend/Share',
            data: {{ dividend_per_share }}
        }, {
            name: 'Shares Traded',
            data: {{ shares_traded }}
        }]
    });
});

</script>