<div class="box effect7">

    <h4>Rules</h4>

    <h5>Buy/Sell Order:</h5>

    <p>
        At the beginning of each period, participants are free to submit buy/sell orders to trade shares. Participants submit orders
        simultaneously; neither sees the order from the other before submitting his/her own.
    </p>

    <p>
        To submit a buy order, participants should specify the maximum buying price per share (BP) and the number of shares (BN) they are
        willing to buy. To submit a sell order, participants should specify the minimum selling price per share (SP) and the number of
        shares (SN) they are willing to sell.
    </p>

    <p>
        Please note that you might only sell at most the number of shares you hold but not more; you might not buy more than you could
        afford with your cash. If you have no intention to buy or sell, you might stay put and submit no order at all. You might submit
        either buy/sell order but not both.
    </p>

    <h5>Market Clearing:</h5>

    <p>
        A transaction is only possible when one participant wants to buy and the other to sell. Moreover, the submitted maximum buying
        price (BP) has to be higher than the minimum selling price (SP). When this is the case, transaction takes place at the average
        of these two prices. That is transaction price (P) = 0.5*(BP+SP). The number of shares traded (N) equals the smaller of the two
        numbers, i.e. N is the minimum of BN and SN.
    </p>

    <p>
        If transaction takes place, N shares are removed from the selling party to the buying party; accordingly, cash equal to the
        transaction price (P) is added to the selling party and subtracted from the buying party.
    </p>

    <p>Otherwise, no transaction takes place and the orders submitted, if any, are not revealed to participants.</p>

    <h5>Dividends:</h5>
    <p>
        At the end of each period, dividends will be randomly drawn, with equal probabilities of being $1/share or $2/share. Dividend per
        share will be the same for all participants and all shares. Each participant is informed of the draw at the end of each period and
        distributed according to the shares he/she holds at the time.
    </p>
</div>