{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Transaction (Period {{ round_num }} of {{ num_of_rounds }})
{% endblock %}

{% block content %}

    <p>
    {% if transaction %}
        You just {% if buyer %} bought {% else %} sold {% endif %}  {{ shares_traded }} shares at the price of {{ transaction_price }}.
        Now, your positions are the following:
    {% else %}
        No transaction took place this period. Your positions are not changed:
    {% endif %}
     </p>
    <h5 class="text-info text-center">Cash: {{ cash }};  Shares: {{ shares }}</h5>

    {% next_button %}

    {% include 'asset_market/Rules.html' %}

{% endblock %}