{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree %}

{% block title %}
    Transaction (Period {{ round_num }} of {{ num_of_rounds }})
{% endblock %}

{% block content %}

    <p>
    {% if transaction %}
        You just bought (sold) {{ shares_traded }} shares at the price of {{ price }}. Now, your positions are the following:
    {% else %}
        No transaction took place this period. Your positions are not changed:
    {% endif %}
     </p>
    <h5 class="text-info">Cash: {{ cash }};  Shares: {{ shares }}</h5>

    {% next_button %}

    {% include 'asset_market/Rules.html' %}


{% endblock %}