{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Solution to Understanding Question 1 of 1
{% endblock %}

{% block content %}

    <p>
        Your answer <span  class="text-info">{{ answer }}</span> was {% if is_correct %}<span class="text-success">correct</span>
        {% else %}<span class="text-danger">incorrect.</span>{% endif %}
    </p>
    <p>
        Suppose in a group, 1 participant contributes 80 points, 1 participant contributes 40,
        and 1 participant contributes nothing. What is the payoff of the participant who contributed 80 points?
    </p>

    <p>
        <b>Solution: 92 points</b>
    </p>

    <p>
        <b>Explanation:</b> Total contribution from all participants is 80+40+0=120. Total earnings from the project are 120*1.8=216.
        Each participant gets an equal share of the earnings, that is, 216/3=72. Hence, payoff for the participant who contributed 80 points
        is 100-80+72=92.
    </p>
    {% next_button %}

    {% include 'public_goods/Instructions.html' %}

{% endblock %}
