{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        In this study, you will be in a randomly formed group
        of {{ Constants.players_per_group }} participants. Each participant in
        the group is given {{ Constants.endowment }}. The group
        has the opportunity to undertake a joint project. Each participant in
        the group decides how much she or he is going to contribute to
        the project. Contribution could be any integer from 0
        to {{ Constants.endowment }}.
    </p>
    <p>
        The earnings from the project are calculated as follows: The
        contributions of all {{ Constants.players_per_group }} participants are
        added up, the total contribution
        is multiplied by a factor of {{ Constants.multiplier }}, and the
        resulting amount is the total earnings from the project, which is
        evenly split among all {{ Constants.players_per_group }}
        participants. Your payoff equals your earnings from the project, plus
        the amount you did not contribute.
    </p>
    </div>
</div>

