{% extends "global/Base.html" %}
{% load otree_tags %}

{% block title %}Results for Period 1-3{% endblock title %}

{% block content %}
<p>
You have finished all 3 periods. Purchases for all periods are summarized below:
</p>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<p>
You are <strong>{{player.role}}</strong>. The period <strong>{{old_player.subsession.round_number}}</strong> was selected for payoffs and your payoff for this period was <strong>{{player.payoff}}</strong> points. In addition, you received {{ participation_fee }} points for participation. Thus, your total payoff is <strong>{{payoff}}</strong>.
</p>

    {% next_button %}

    <script>
{% include "lemon_market/FinalResults.js" %}
</script>
{% endblock %}
