{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}


    <p>
        <h3>Lemon Market</h3>
        Two players: Bidder and Owner

        <h4>Roles</h4>
        -The Owner rejects or accepts the bid.<br>
        -The Bidder make bids to purchase the commodity.

        <h4>Value</h4>
        -The owner knows the value of the commodity to be bidded for, the bidder knows only the range of
        possible values.<br>

        <h4>Payoff(rejection)</h4>
        -If bid amount is less than the value of commodity, the owner rejects and no purchase. Your payoff is 0.00.

        <h4>Payoff(acceptance)</h4>
        -If bid greater or equal than value of commodity. The owner accepts and purchase is made. <br>
        Payoff is 1.5 x the value minus bid amount i.e (1.5 x value - bid amount).
    </p>

{% endblock %}