{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Production (Period {{ subsession.round_number }} of {{ Constants.num_rounds }})
{% endblock %}

{% block content %}

    <p>You are {{ player.role }}</p>

    {% formfield player.seller_proposed_quality label='What quality grade do you want to produce?' %}
    {% formfield player.seller_proposed_price label='What price do you want to sell at?' %}

    {% next_button %}
    {% include Constants.instructions_template %}

{% endblock %}
