{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    <p>
    In Stackelberg Competition, participants play as firm owners(in duopoly market), each deciding sequentially on how
    much quantity to produce in order to make profit. The Participant to start is chosen randomly.
    </p>
    <p>
    The price of the goods is determined by the total production, given by the formula below:
    <blockquote>
         P={{ total_capacity }}-q1-q2
        <br>
        where:
            <ul>
                <li>P is the price</li>
                <li> q1 is the quantity produced by Participant 1 (Firm 1)</li>
                <li> q2 is the quantity produced by Participant 2 (Firm 2)</li>
            </ul>
    The profits are calculated as follows:<br>

         Profit / Payoff = P*q <br>
            where
        <ul>
            <li> P is the price </li>
            <li>     q is the quantity</li>
        </ul>
    </blockquote>
    </p>
{% endblock %}