{% extends "global/Base.html" %}
{% load staticfiles floppyforms %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        You have been randomly and anonymously paired with another player,
        and will each represent a company that produces the same kind of product.
    </p>

    <p>
        The task is to decide how many units of the product to manufacture.
        This will be done sequentially, meaning one of you will decide first, and then the other.
        The second player will be told how many units the first player decided to produce.
        {% if player_id == 1 %}
            <strong>You will be deciding first.</strong>
        {% else %}
            <strong>You will be deciding second.</strong>
        {% endif %}
    </p>

    <p>
        In this market, all produced units are sold, but the more that is produced, the lower the unit price will be.
        Furthermore, the total production capacity is {{ total_capacity }}, each company can therefore produce at most {{ max_units_per_player }} units.
    </p>

    <p>
        The unit price, measured in points, is calculated as follows:
    </p>

    <ul>
        Unit price = {{ total_capacity }} – Units produced by your company – Units produced by the other company
    </ul>

    <p>
        Once the unit price is obtained, your profit (also measured in points) is then calculated as follows:
    </p>

    <ul>
        Profit = Unit price × Units produced by you
    </ul>

    <p>
        For every profit point, you will receive {{ currency_per_point }}.
    </p>

{% endblock %}
