{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {%  formrow form.question with label="Suppose you first decided to produce 20 units. Then the other firm was informed of your production and decided to produce 30 units. What would be the profit for the other firm?" %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'stackelberg_competition/Instructions.html' %}

{% endblock %}
