{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {% formfield player.training_question_1 with label="Suppose firm A first decided to produce 20 units. Then firm B would be informed of firm A's production and decided to produce 30 units. What would be the profit for firm B?" %}oduce 30 units. What would be the profit for firm B?" %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'stackelberg_competition/Instructions.html' %}

{% endblock %}
