{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
Solution to Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}
{% ifequal x 60 %}
<p class="text-success">
Your answer {{x}} for X was correct.
</p>
{% else %}
<p class="text-danger">
Your answer {{x}} for X was incorrect.
</p>
{% endifequal %}
{% ifequal y 130 %}
<p class="text-success">
Your answer {{y}} for Y was correct.
</p>
{% else %}
<p class="text-danger">
Your answer {{y}} for Y was incorrect.
</p>
{% endifequal %}
<p>
Suppose that participant A sent 20 points to participant B. Having received X points, participant B sent 50 points to participant A. In the end, participant A had Y points. What are X and Y respectively?
</p>
<p><strong>Solution: X=60 and Y=130.</strong></p>
<p><strong>Explanation:</strong> Participant A first sent 20 points to participant B. It was tripled thus participant B received 20*3=60 points, that is X equal 60.
Then participant B sent 50 points to participant A. Participant A received exactly 50 points. Hence at last participant A had 100-20+50=130 points, that is Y equal 130.
</p>
<p>
{% next_button %}
</p>
{% include instructions %}
{% endblock %}
