{% extends "global/Instructions.html" %}

{% block instructions %}
<p>
You have been randomly and anonymously paired with another participant. One of you will be selected at random to be participant A; the other will be participant B. You will learn whether you are participant A or B prior to making any decision.
</p>
<p>
To start, participant A receives 100 points; participant B receives nothing. Participant A can send some or all of his 100 points to participant B. Before B receives these points they will be tripled. Once B receives the tripled points he can decide to send some or all of his points to A.
</p>
{% endblock %}
