{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        You have been randomly and anonymously paired with another player.
    </p>

    <p>
        Each will be given the same initial sum of {{ amount_allocated }}.
        Then, one of you will be selected at random and given the opportunity to give part of the sum to the other player.
        Before the chosen amount reaches the second player, it will automatically be tripled by the experimenter.
        In other words, the second player will receive three times the amount originally given by the first player.
    </p>

    <p>
        The second player will then be given a similar opportunity, namely to give part of the now-tripled sum back to the first player.
    </p>

    <p>
        Please click "Next" to proceed.
    </p>

    {% next_button %}

{% endblock %}
