{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}
{% load i18n %}

{% block title %}
    Your choice
{% endblock %}

{% block content %}

    <p>
        The other player was selected to give money first, and chose to give {{ sent_amount }} of the initial sum.
        The experimenter tripled this amount; you have therefore received {{ tripled_amount }} in addition to your initial {{ amount_allocated }}.
    </p>

    <p>
        Please select how much of the now-tripled amount you wish to give back to the other player.
    </p>

    {% formrow form.sent_back_amount with label="How much would you like to give back?" %}
    {% next_button %}

{% endblock %}
