{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instructions
    </h3>

    <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Participant 1 and the other
        Participant 2. Prior to making a decision, you will learn your role,
        which will be randomly assigned.
    </p>
    <p>
        There is {{ Constants.endowment }} to split. Participant 1 will
        decide how much she or he will retain. Then the rest will go to
        Participant 2.
    </p>
</div>
</div>