{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree %}
{% load i18n %}

{% block title %}
    Choice
{% endblock %}

{% block content %}

    <p>
        You have been randomly and anonymously paired with another player. Both of you see these same instructions.
    </p>

    <p>
        The two of you must now choose either <strong>A</strong> or <strong>B</strong>. The payoff is determined as follows:
    </p>

    <ul>
        <li>If both choose A or both choose B, each receives {{ match_amount }}</li>
        <li>If one chooses A and the other B, each receives {{ mismatch_amount }}</li>
    </ul>

{% endblock %}
