{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Результаты
{% endblock %}

{% block content %}

    {% if overthrow == 0 %}
        <p>
            В предыдущем раунде реформа была поддержана {{ total_approvals }} людьми.
            <br />
            В предыдущем раунде ваша прибыль составила {{ player_payoff_in_last_round }}.
            <br />
            За все раунды ваша прибыль составила {{ player_payoff }}.
        </p>
    {% else %}
        <p>

            {% if current_round != overthrow_round %}

                {% if coordinated_reforms_in_last_round > 0 %}
                    В предыдущем раунде ваша группа успешно реализовала {{ coordinated_reforms_in_last_round }} реформ.
                {% else %}
                    В предыдущем раунде ваша группа не смогла договориться о количестве желаемых реформ, и в результате каждый игрок потерял {{ Constants.losses_from_chaos }} очков.
                {% endif %}

            {% endif %}
            В предыдущем раунде
            <br />
            В предыдыдущем раунде ваша прибыль составила {{ player_payoff_in_last_round }}.
            <br />
            За все раунды ваша прибыль составила {{ player_payoff }}.
        </p>
    {% endif %}
    <p>
        Это был финальный раунд. Спасибо за участие!
    </p>
{% endblock %}