{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Вступление
{% endblock %}

{% block styles %}

    <style>
        .solidarity {
            display: inline-block;
            width: 30px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'reform/Instructions.html' %}

    <p>
        Участники разбиваются на анонимные группы по 5 человек, каждый из которых одновременно является предпринимателем и потребителем услуг всех остальных четырех. Каждый из 5 участников является и предпринимателем, и покупателем благ у других 4 предпринимателей. Каждый предприниматель продает 4 единицы продукции каждому из 4 своих “соседей”, причем полезность каждой единицы составляет 1 для их потребителя, и приносит доход 4 тому кто ее произвел (обе эти величины считаются чистыми, т.е. за вычетом затрат). Таким образом, каждый игрок изначально получает полезность
    </p>
    <p>
    <span class="latex">
        U_0 = 4*4 + 4 = 20</span> единиц (доход от продажи своих 4 единиц + 4 единицы от потребления продукции других).
    </p>


    Государство инициирует реформу, отнимающую часть дохода у одного из предпринимателей, определяемого случайным образом. Доход этого предпринимателя падает на 1 с каждой проданной единицы, т.е. его прибыль будет не 4, а 3 с каждого покупателя. Вместе с тем, каждому из покупателей эта реформа приносит дополнительные 0.5 единиц полезности. Таким образом, если провести 5 реформ, каждая из которых затронет 1 участника, доходы каждого снизятся на 4 единицы, а полезность от каждого из 4 товаров возрастет на 0.5, т.е. в сумме, каждый участник получает доход на 2 меньше, чем в начале игры. если следовать далее — полезности потребителей еще более растут, а продавцов — снижаются, вплоть до 0.
    <p>

        Участники в игре принимают два решения, которые также влияют на их полезность. Первое – об отношении к реформе: в каждом периоде они независимо друг от друга голосуют за или против нее, и получают дополнительное вознаграждение (премию за солидарность) в зависимости от числа голосов, поданных в поддержку реформ. Содержательная интерпретация: если граждане согласились с тем, что реформа прошла, они смиряются и с ее результатами, и их полезность возрастает хотя бы в силу чувства солидарности с мнением других. Премия эта зависит от уровня поддержки по таблице
    </p>
    <p>
    <div class="solidarity">0</div><div class="solidarity">1</div><div class="solidarity">2</div><div class="solidarity">3</div><div class="solidarity">4</div><div class="solidarity">5</div>
    </p>
    <p>
    <div class="solidarity">{{ zero }}</div><div class="solidarity">{{ one }}</div><div class="solidarity">{{ two }}</div><div class="solidarity">{{ three }}</div><div class="solidarity">{{ four }}</div><div class="solidarity">{{ five }}</div>
    </p>
    <p>
        Второе действие потребителей – голосование за то, чтобы сменить режим. Это голосование затратно, и стоит каждому участнику от 0 до 5 единиц на их выбор. Если сумма протестных баллов составит {{ Constants.points_to_overthrow }} или более, в группе происходит смена режима, в итоге чего они единовременно теряют по {{ Constants.losses_from_overthrow }} баллов все, зато далее могут сами определять нужное количество реформ. Если число одобренных ими реформ совпадет, они получают доход, соответствующий избранному ими числу реформ; если же нет, не реализуется ни одна реформа, т. е. каждый получает базовый доход в размере 20 единиц, но при этом каждый теряет {{ Constants.losses_from_chaos }} баллов в этот раунд -- из-за хаоса.
    </p>


    {% next_button %}

{% endblock %}
