{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    {% include 'reform/Instructions.html' %}

    <p>
        Участники разбиваются на анонимные группы по 5 человек, каждый из которых одновременно является предпринимателем и потребителем услуг всех остальных четырех. Каждый из 5 участников является и предпринимателем, и покупателем благ у других 4 предпринимателей. Каждый предприниматель продает 4 единицы продукции каждому из 4 своих “соседей”, причем полезность каждой единицы составляет 1 для их потребителя, и приносит доход 4 тому кто ее произвел (обе эти величины считаются чистыми, т.е. за вычетом затрат). Таким образом, каждый игрок изначально получает полезность
    </p>
    <p>
        r0 = 4*4 + 4 = 20 единиц (доход от продажи своих 4 единиц + 4 единицы от потребления продукции других).

    </p>
    Государство инициирует реформу, отнимающую часть дохода у одного из предпринимателей, определяемого случайным образом. Доход этого предпринимателя падает на 1 с каждой проданной единицы, т.е. его прибыль будет не 4, а 3 с каждого покупателя. Вместе с тем, каждому из покупателей эта реформа приносит дополнительные 0.5 единиц полезности. Таким образом, если провести 5 реформ, каждая из которых затронет 1 участника, доходы всех снизятся на 4*1=4 единицы, а полезность от каждого из 4 товаров возрастет на 0.5, т.е. общее приращение полезности составит 2, если следовать далее — полезности потребителей еще более растут, а продавцов — снижаются, вплоть до 0.
    <p>

        Участники в игре принимают два решения, которые также влияют на их полезность. Первое – об отношении к реформе: в каждом периоде они независимо друг от друга голосуют за или против нее, и получают дополнительное вознаграждение (премию за солидарность) в зависимости от числа голосов, поданных в поддержку реформ. Содержательная интерпретация: если граждане согласились с тем, что реформа прошла, они смиряются и с ее результатами, и их полезность возрастает хотя бы в силу чувства солидарности с мнением других. Премия эта зависит от уровня поддержки по таблице
    </p>
    <p>

        число одобривших 	1	2	3	4	5
    </p>
    <p>
        Бонусы всей группе	0.2	0.5	1.0	1.6	2.3
    </p>
    <p>
        Второе действие потребителей – голосование за то, чтобы сменить режим. Это голосование затратно, и стоит каждому участнику от 0 до 5 единиц на их выбор. Если сумма протестных баллов составит 16 или более, в группе происходит смена режима, в итоге чего они единовременно теряют по 10 баллов все, зато далее могут сами определять нужное количество реформ. Если число одобренных ими реформ совпадет, они получают доход, соответствующий избранному ими числу реформ; если же нет, не реализуется ни одна реформа, т. е. Все получают
    </p>


    {% next_button %}

{% endblock %}
