{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribute
{% endblock %}

{% block content %}

    {% include 'reform/Instructions.html' %}

    <p style="font-size: larger; color: darkblue">
                       Your payoff in the previous round was {{ player_payoff_in_previous_round }} points, and your total payoffs for all previous rounds is {{ player_payoff }} points.
    </p>

    <p>
        You have successfully overthrown the system! Now pick the number of reforms you want to be in place. If every player in your group chooses the same number of reforms, then you'll get benefit of num_reforms * 0.5 each. If coordination between you fails, then every player in the group will lose 5 points from chaos this round.
    </p>

    {% formfield player.reforms_votes with label="Reforms to implement" %}


    {% next_button %}

{% endblock %}
