{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Решения
{% endblock %}

{% block styles %}
    <link href="{% static "reform/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="show">

        {% if current_round == overthrow_starts %}

            <p>
                Вашей группе удалось сменить режим!
                <br />
                В предыдущем раунде ваша прибыль составила {{ player_payoff_in_previous_round }}.
                <br />
                За все предыдущие раунды ваша прибыль составила {{ player_payoff }}.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>

        {% else %}

            <p>

                {% if coordinated_reforms_in_previous_round > 0 %}
                    В предыдущем раунде ваша группа успешно реализовала {{ coordinated_reforms_in_previous_round }} реформ.
                {% else %}
                    В предыдущем раунде ваша группа не смогла договориться о количестве желаемых реформ, и в результате каждый игрок потерял {{ Constants.losses_from_chaose }} очков.
                {% endif %}
                В предыдущем раунде ваша прибыль составила {{ player_payoff_in_previous_round }}.
                <br />
                За все предыдущие раунды ваша прибыль составила {{ player_payoff }}.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>

        {% endif %}

        <a href="#show" id="open"><div class="btn btn-primary btn-large">Далее</div></a>
        <div id="content">
            <p>
                Пожалуйста выберите количество реформ, которых вы желаете реализовать. ....payoff. Голосование ничего вам не стоит, но сли вам не удастся договориться о количестве реформ, каждый игрок в группе потеряет {{ Constants.losses_from_chaos }} очков в этом раунде.
            </p>

            {% formfield player.reforms_votes with label="Сколько реформ реализовать?" %}

            {% next_button %}

        </div>

    </div>

{% endblock %}
