{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Решения
{% endblock %}

{% block styles %}
    <link href="{% static "reform/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="show">

        {% if subsession.round_number != 1 %}

            <p>
                В предыдущем раунде реформа была поддержана {{ total_approvals }} людьми.
                <br />
                В предыдущем раунде ваша прибыль составила {{ player_payoff_in_previous_round }}.
                <br />
                За все предыдущие раунды ваша прибыль составила {{ player_payoff }}.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>

        {% endif %}

        {% if reformed_this_round == 1 %}

            <p>
                В этот раунде реформа затронула вас, и в результате этого в каждом следующем раунде вы будете получать на {{ Constants.reform_penalty }} очков меньше, вплоть до смены режима. Каждый остальной игрок в вашей группе будет получать на {{ Constants.reform_benefits }} очков больше в каждом следующем раунде, вплоть до смены режима.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>
            <br />
        {% else %}
            <p>
                В этом раунде раформа вас не затронула -- другой игрок был реформирован, и в результате этого в каждом следующем раунде он будет получать на {{ Constants.reform_penalty }} баллов меньше, вплоть до смены режима. Каждый остальной игрок в вашей группе, включая вас, будет получать на {{ Constants.reform_benefits }} баллов больше в каждом следующем раунде, вплоть до смены режима.
                <br />
                Сейчас вы играете {{ current_round }} из {{ Constants.num_rounds }} раунд.
            </p>
            <br>
        {% endif %}

        <a href="#show" id="open"><div class="btn btn-primary btn-large">Далее</div></a>
        <div id="content">

            <p>
                Пожалуйста решите, поддерживаете ли вы реформу, в этом раунде. Поддержка стоит {{ Constants.approval_cost }} очка.
            </p>

            {% formfield player.approval with label="Поддерживаете ли вы реформу?" %}
            <br>
            <p>
                Вы можете потратить от 0 до 5 очков на то, чтобы попробовать сменить режим. Если сумма очков, потраченных на это, в вашей группе составит {{ Constants.points_to_overthrow }} очков или больше, произойдёт смена режима, и каждый игрок в группе единовременно потеряет {{ Constants.losses_from_overthrow }} очков. Также произойдёт отмена всех существующих реформ, а во всех последующих раундах игроки сами смогут выбирать количество реформ, которые они хотят принять, потенциально увеличивая доход каждого игрока.
            </p>

            {% formfield player.vote_to_overthrow with label="Сколько очков вы хотите потратить на то, чтобы попробовать сменить режим?" %}

            {% next_button %}

        </div>

    </div>


{% endblock %}
