{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Contribute
{% endblock %}

{% block content %}

    {% include 'reform/Instructions.html' %}

    <p>
        Please decide whether you want to approve of reforms. Approving a reform costs 0.3 points.
    </p>
    <p>
        число одобривших 	1	2	3	4	5
    </p>
    <p>
        Бонусы всей группе	0.2	0.5	1.0	1.6	2.3

    </p>

    {% formfield player.approval with label="Do you approve of the reform?" %}

    <p>
        How much points are you willing to spend to overthrow the system?
    </p>

    {% formfield player.vote_to_overthrow with label="Overthrow the system?" %}

    {% next_button %}

{% endblock %}
