{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Admin Interface Demo
{% endblock %}

{% block content %}

    <p>
        oTree provides an admin interface that can be accessed <a href="/admin/">here.</a>
        The Admin interface allows for monitoring of Players progress,
        adding new data and or settings and analysis of data trough data export functionality.
    </p>
    <p>
        A screenshot of the oTree's Admin interface. <br>
        <img src="{{ STATIC_URL }}showcase/oTree Admin.png" />
    </p>

{% endblock %}