{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Rich Multimedia
{% endblock %}

{% block content %}

    <p>
        oTree allows for embedding of various contents such as images, videos, and dynamic visualizations.
    </p>

    <h4>Dynamic visualizations</h4>
    <div>
        {% include 'showcase/HighChartsDemo.html' %}
    </div>
    <br>

    <h4>Embedding Images</h4>
    <p>An image describing Public goods game.</p>
    <div><img src="{{ STATIC_URL }}showcase/publicgoods.jpeg" /></div>
    <br>

    <h4>Embedding Videos</h4>
    <p>A video describing prisoner's Dilemma game.</p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/DanTKx1FLY8" frameborder="0" allowfullscreen></iframe>
    <br>

    <p>
        Please click 'Next' to view more features.
    </p>

{% endblock %}