{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Forms Demo
{% endblock %}

{% block content %}

    <p>
        Forms provides elements that allow participants in various experiments to interact with by entering data to it.
        Ptree supports a number of them. Including but not limited to: RadioButtons, Checkboxes, TextInput, TextArea,
        Select Choices and more. This is illustrated below.
    </p>
    <p>
        More on form elements can be found in <a href="https://docs.djangoproject.com/en/dev/topics/forms/">django
        documentation.</a>
    </p>

{% endblock %}