{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You will be randomly and anonymously grouped with 4 other participants.
        Each of you will be asked to pick a
        number between 0 and 100. The winner will be the participant whose
        number is closest to two-third of the
        average of all chosen numbers.
    </p>

    <p>
        The winner will receive 100 points, while other participants will
        receive nothing. In case of a tie, the 100
        points will be equally divided between winners.
    </p>

    <p>
        For your convenience, these instructions will remain available to you
        on all subsequent screens of this study.
    </p>

</div>
