
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>

<div class="instructions well well-lg" style="">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You will be randomly and anonymously grouped with 4 other participants. Each of you will be asked to pick a
        number between 0 and 100. The winner will be the participant whose number is closest to two-third of the
        average of all chosen numbers.
    </p>

    <p>
        The winner will receive 100 points, while other participants will receive nothing. In case of a tie, the 100
        points will be equally divided between winners.
    </p>

    <p>
        For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
