{% load otree i18n %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        {% trans "Instructions" %}
    </h3>

    <p>
        {% blocktrans %} You have been randomly and anonymously paired with another participant.
        Each of you will represent a firm. Both firms manufacture the same product. {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with max_units_per_player=Constants.max_units_per_player %}
        The two of you decide simultaneously and independently how many units to manufacture.
        Your choices can be any number from 0 to {{ max_units_per_player }}.
        All produced units will be sold, but the more is produced, the lower the unit selling price will be.
        {% endblocktrans %}
    </p>


    <p>
        {% trans "The unit selling price is:" %}
    </p>

    <ul>
        <strong>
            {% blocktrans trimmed with total_capacity=Constants.total_capacity %}
            Unit selling price = {{ total_capacity }} – Units produced by your firm – Units produced by the other firm
            {% endblocktrans %}
        </strong>
    </ul>

    <p>
        {% trans "Your profit is therefore:" %}
    </p>

    <ul>
        <strong>{% trans "Your profit = Unit selling price × Units produced by your firm" %}</strong>
    </ul>

    <p>
        {% trans "For your convenience, these instructions will remain available to you on all subsequent screens of this study." %}
    </p>

</div>
</div>