{% extends "global/Base.html" %}
{% load staticfiles floppyforms %}
{% load i18n %}

{% block head_content  %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}custom.css" />
{% endblock %}

{% block title %}
    Admin Interface Demo
{% endblock %}

{% block content %}

    <p>
        oTree provides an admin interface that can be accessed <a href="/admin/">here.</a>
        The Admin interface allows for monitoring of Players progress,
        adding new data and or settings and analysis of data trough data export functionality.
    </p>
    <p>
        A screenshot of the oTree's Admin interface. <br>
        <img src="{{ STATIC_URL }}demo_game/oTree Admin.png" />
    </p>

{% endblock %}

{% block content_below_submit_button %}
    {% include 'demo_game/Instructions.html' %}
{% endblock %}