{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree %}

{% block title %}
    Your feedback for understanding question ({{ num_q }} of {{ total_q }})
{% endblock %}

{% block content %}

    <p>{{ question }}</p>
    <p class="text-info">Your Answer: {{ answer }}</p>
    {% if is_correct %}
        <p class="text-success">Your answer is correct. {{ explanation }}.</p>
    {% else %}
        <p class="text-danger">Your answer is incorrect. {{ explanation }}.</p>
    {% endif %}

    {% next_button %}
    {% include 'demo_game/Instructions.html' %}

{% endblock %}