{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Solution to Understanding Question  ({{ num_q }} of {{ total_q }})
{% endblock %}

{% block content %}

    <p>{{ Constants.question }}</p>
    <p class="text-info">Your Answer: {{ player.training_question_5 }}</p>
    {% if player.is_training_question_5_correct %}
        <p class="text-success">Your answer is correct. {{ Constants.explanation }}</p>
    {% else %}
        <p class="text-danger">Your answer is incorrect. The solution is: {{ Constants.explanation }}</p>
    {% endif %}

    {% next_button %}
    {% include 'demo_game/Instructions.html' %}

{% endblock %}
