{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank You
{% endblock %}

{% block content %}

    <p>
        You can now go back to the oTree.org <a href="http://www.otree.org/" target="_blank">homepage</a>,
        or read the <a href="http://www.otree.org/oTree.pdf">paper</a>
        or watch the <a href="https://onedrive.live.com/redir?resid=F9813DEE7F07C54C%2112217">slide show.</a>
        Also you can play one of the other games in the <a href="http://demo.otree.org/demo/">library </a>
        or download the current version of the  <a href="https://github.com/oTree-org/otree" target="_blank">source code</a>.
    </p>
    <p>
        For questions and feedback, please email Chris Wickens: <a href="mailto:chris@otree.org">chris@otree.org</a>
    </p>

    <p>
        <em>Note: Here are some solutions for different experimental settings.</em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Please remain seated until your number is called. Then take your number card, and proceed to the cashier.</p>
            <p><em>Note: For the cashier in the laboratory, oTree can print a list of payments for all participants as a PDF.
                Click <a href="example PDF" target="_blank">here</a> to see an example.</em></p>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>AMT—Amazon's <a href="https://www.mturk.com/mturk/welcome" target="_blank">online labor market</a>:</strong></p>
            <p>Here is your redemption code:</p>
            <p style="font-size:150%"><b>cegavokiz</b></p>
            <p>Please enter this code on the HIT page.</p>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Classroom:</strong></p>
            <p>If you want to keep track of how students did, the easiest thing is to assign the starting links to students by name.
                It is even possible to give each student a single permanent link for a whole semester; so no need to waste time in each
                lecture with handing out new links and keeping track of which student uses which link. Alternatively, you may just give
                students anonymous links or secret nicknames.
            </p>
        </div>
    </div>

{% endblock %}
