{% extends "global/Base.html" %}
{% load staticfiles floppyforms %}
{% load i18n %}

{% block title %}
    Finish - Thank you
{% endblock %}

{% block content %}

    <p>
        You have completed this session. You can go back to the oTree.org
        <a href="http://www.otree.org/" target="_blank">homepage</a>, or read the
        <a href="http://www.otree.org/oTree.pdf">paper</a> or watch
        the <a href="https://onedrive.live.com/redir?resid=F9813DEE7F07C54C%2112217">slide show.</a> Or play one of the other games being developed in the library. Or download the current
        version of the <a href="https://github.com/oTree-org/otree" target="_blank">source code</a>.
    </p>
    <p>
        For questions, feedback, to contribute or how to get started you can email:
        <a href="mailto:christopher.wickens@gmail.com">Chris Wickens.</a>
    </p>
{% block form %}{% endblock %}
{% endblock %}