{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Forms for Participant Input
{% endblock %}

{% block content %}

    <p>
        Forms allow Participants to enter data. We already saw a numerical field that validated input to be an odd
        negative or any positive number in understanding question 1.
    </p>

    <p>
        As seen in understanding question 2, radio buttons are for multiple choice questions with one correct answer.
    </p>

    <p>
        {% formfield player.demo_field1 with label="I am a radio button. How many answers can you select here?" %}
    </p>

    <p>
        I am a text input field, meaning I have a restriction of characters, in this case to 5
        characters. For unlimited character entry one would use a text area field (these field names are Django \
        jargon by the way which is familiar to many Python programmers).
    </p>

    <p>
        {% formfield player.demo_field2 with label="I am a text input field. Please enter no more than 5 letters or numbers. What is the name of this software platform?" %}
    </p>

    <p>
        <b>Note:</b> In all the form fields on this page we require an input, do validation, and then check for
        correctness (in the  understanding questions we chose to give you immediate feedback on correctness,
        here we choose not to).
    </p>

    {% next_button %}

    {% include 'demo_game/Instructions.html' %}

{% endblock %}
