<p>
    <b>Please enter values larger than 0 and click the Load Chart button</b>
    <p></p>
    Player 1 <input type="text" value="" name="value1"/>
    Player 2 <input type="text" value="" name="value2"/>
    Player 3(you) <input type="text" value="" name="value3"/>
    <button id="btn">Load Chart</button><br>
</p>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>

$(function () {

    $('#btn').click(function(){
        var val1,
            val2,
            val3,
            options;

        val1 = parseFloat($('input[name=value1]').val());
        val2 = parseFloat($('input[name=value2]').val());
        val3 = parseFloat($('input[name=value3]').val());

        options = {
            chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'Shares of the tokens won by each participant'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'share',
                data: [
                    ['Player 1', val1],
                    ['Player 2', val2],
                    {
                        name: 'Player 3',
                        y: val3,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        };

        $('#container').highcharts(options);
    });
});

</script>