<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Shares of the tokens won by each participant'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Share',
            data: [
                ['Player 1',    8.5],
                ['Player 2',       26.8],
                {
                    name: 'Player 3 (you)',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Player 4',   35.0],
                ['Player 5',     6.2],
                ['Player 6',   10.7]
            ]
        }]
    });
});

</script>

<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'line'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Payoff in each round'
        },
        xAxis: {
            title: {
                text: 'Round'
            },
            categories: [1,2,3,4,5,6,7,8,9,10]
        },
        yAxis: {
            title: {
                text: 'Payoff (in cents)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'You',
            data: [21, 7, 6, 23, 18, 9, 14, 18, 25, 26]
        }, {
            name: 'Other participant',
            data: [14, 5, 8, 11, 15, 17, 16, 10, 3, 4]
        }]
    });
});

</script>