<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Shares of the tokens won by each participant'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Share',
            data: [
                ['Player 1',    8.5],
                ['Player 2',       26.8],
                {
                    name: 'Player 3 (you)',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Player 4',   35.0],
                ['Player 5',     6.2],
                ['Player 6',   10.7]
            ]
        }]
    });
});

</script>