<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        In many games the researcher wants to make instructions available to participants at all times.
        In the lab paper-based instructions are a natural solution. But what do you do in online settings
        or in the lab or field when instructions differ by treatment group and this should be non-deceptively
        kept from participants? In oTree electronic instructions can be implemented in a separate tab or as
        shown here. The paper-like look suggests to participants that these are instructions and static.
        A sentence at the end can be added: For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
