{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <h4>Welcome to the oTree demo game!</h4>
    <p>
        This is a simple 1-player game demonstrating some of oTree’s basic capabilities, as well as its interaction with some plugins.
        This game does not have any experimenter manual input, so you just need this tab. Experimenter input is an oTree feature that allows
        an experimenter to give input (such as say the draw from a physical Ellsberg urn).
    </p>
    <p>
        Please read the instructions below, then press ‘Next’ for 5 understanding questions to follow.
    </p>


    {% include 'demo_game/Instructions.html' %}
    {% next_button %}

{% endblock %}