{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question ({{ num_q }} of {{ total_q }})
{% endblock %}

{% block content %}
    {% if num_q == 1 %}
    <p>
        This first screen is to give a template for understanding questions and to show you a numeric entry field with restricted values.
        Just for fun the field accepts any answer that is an odd negative integer or a non-negative integer. Thus it will reject an invalid
        entry of, say -2, and ask you to try again after you click next, but if you enter a valid, but wrong answer, say 1 it will accept it
        but give you feedback.
        {% formfield player.training_question_1 with label="How many understanding questions are there?<br>Please enter an odd negative integer, or a non-negative integer:" %}
    </p>
    {% elif num_q == 2 %}
    <p>
        oTree can easily embed images, audio and video. These can also be randomized by treatment or match or whatever. But sometimes one
        wants to create graphics on the fly. In oTree external plugins can be used for such specific purposes. For example below is a dynamic
        visualization using HighCharts.
        {% include 'demo_game/HighChartsDemo.html' %}
        {% formfield player.training_question_2 with label="All the following are possible in oTree except one?" %}
    </p>

    {% elif num_q == 3 %}
    <p>
        {% formfield player.training_question_3 with label="What operating system is required to use oTree?" %}
    </p>

    {% elif num_q == 4 %}
    <p>
        <video width="320" height="240" controls>
            <source src="https://dl.dropboxusercontent.com/u/188666511/console.mp4" type="video/mp4">
        </video>
        <br/>
        The silent video above is the admin console in action. It demonstrates some functions of the admin console.
        {% formfield player.training_question_4 with label="What can be monitored during the experiment via the admin console?" %}
    </p>

    {% elif num_q == 5 %}
    <p>
        <img src="{{ STATIC_URL }}/images/csvexport.png" alt="admin csv export"/>
        {% formfield player.training_question_5 with label="What kind of data is included when you export a CSV from oTree?" %}
    </p>
    {% endif %}

    {% next_button %}
    {% include 'demo_game/Instructions.html' %}

{% endblock %}
