{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree %}
{% load i18n %}

{% block title %}
    Decide
{% endblock %}

{% block content %}

    <p>
        You have been randomly and anonymously paired with another player. Both of you see these same instructions.
    </p>

    <p>
        The two of you must privately decide whether to hunt a <strong>stag</strong> or a <strong>hare</strong>.
        To hunt a stag, you must have the cooperation of the other player in order to succeed.
        You can hunt a hare without the other player, but a hare is worth less than a stag.
        This is reflected in the payoffs shown in the table below.
    </p>

    <p>
        In each table cell, the amount to the left is the payoff for player P1 and the amount to the right is the payoff for player P2.
        Your are <strong>P{{ player_index }}</strong>.
    </p>

    <table class="table" style="width:350px; margin-top:20px">
        <tr>
            <th></th>
            <th>P1: Stag</th>
            <th>P1: Hare</th>
        </tr>
        <tr>
            <th>P2: Stag</th>
            <td>{{ stag_stag }}, {{ stag_stag }}</td>
            <td>{{ hare_stag }}, {{ stag_hare }}</td>
        </tr>
        <tr>
            <th>P2: Hare</th>
            <td>{{ stag_hare }}, {{ hare_stag }}</td>
            <td>{{ hare_hare }}, {{ hare_hare }}</td>
        </tr>
    </table>

    {% formrow form.decision with label='Please make a choice:' %}
    {% next_button %}

{% endblock %}