{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Decide
{% endblock %}

{% block content %}

    <p>
        In Battle of the sexes game, there are two participants presumably a husband and wife. Both are required to choose
        whether watch Football or Opera.
    </p>
    <p>
        The payoff matrix is as shown below:
    </p>
    <table class="table" style="table-layout:fixed; max-width:500px; margin-top:15px;">
        <tr>
            <th style="border:0; border-right:1px solid #ddd; width:30%;"></th>
            <th style="text-align:center; border:1px solid #ddd;">Football</th>
            <th style="text-align:center; border:1px solid #ddd;">Opera</th>
        </tr>
        <tr>
            <th style="border:1px solid #ddd;">Football</th>
            <td style="border:1px solid #ddd;">{{ fbl_amt1 }}, {{ fbl_amt2 }}</td>
            <td style="border:1px solid #ddd;">{{ fbl_opr_amt }}, {{ fbl_opr_amt }}</td>
        </tr>
        <tr>
            <th style="border:1px solid #ddd;">Opera</th>
            <td style="border:1px solid #ddd;">{{ fbl_opr_amt }}, {{ fbl_opr_amt }}</td>
            <td style="border:1px solid #ddd;">{{ opr_amt1 }}, {{ opr_amt2 }}</td>
        </tr>
    </table>

{% endblock %}