{% load i18n %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant. One of you will be
        randomly designated Husband and the other will be designated Wife. Prior to making a decision, you will
        learn your role.
    </p>

    <p>
        Both Husband and Wife have two choices for an evening’s entertainment. Each can either go to a football
        match or to an opera. Husband prefers football and Wife prefers opera; however, to both it is more important
        that they go out together than that each see the preferred entertainment.
    </p>

    <p>
        Each of you must independently and simultaneously make a decision. Your payoffs will be determined by both
        choices as shown below:
    </p>

    <p>
        In each cell, the amount (in points) to the left is the payoff for Husband and to the right for Wife.
    </p>

    <table class="table">
        <tr>
            <th></th>
            <th>Husband: Football</th>
            <th>Husband: Opera</th>
        </tr>
        <tr>
            <th>Wife: Football</th>
            <td>300, 200</td>
            <td>0, 0</td>
        </tr>
        <tr>
            <th>Wife: Opera</th>
            <td>0, 0</td>
            <td>200, 300</td>
        </tr>
    </table>

    <p>
         The instructions are exactly the same for all participants, and will remain visible for your convenience at the bottom of all pages.
    </p>

</div>
