{% load otree_tags staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        In this study, you will be paired randomly and anonymously with another participant. One of you will be
        randomly designated Husband and the other will be designated Wife. Prior to making a decision, you will
        learn your role.
    </p>

    <p>
        Both Husband and Wife have two choices for an evening’s entertainment. Each can either go to a football
        match or to an opera. Husband prefers football and Wife prefers opera; however, to both it is more important
        that they go out together than that each see the preferred entertainment.
    </p>

    <p>
        Each of you must independently and simultaneously make a decision. Your payoffs will be determined by both
        choices as shown below:
    </p>

    <p>
        <em>In each cell, the amount to the left is the payoff for Wife and to the right for Husband.</em>

    </p>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <table class="table table-hover">
                <tr>
                    <th colspan="2"></th>
                    <th colspan="2">Husband</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th>Football</th>
                    <th>Opera</th>
                </tr>
                <tr>
                    <th rowspan="2"><span class="rotate90">Wife</span> </th>
                    <th>Football</th>
                    <td>{{ Constants.football_wife_payoff }}, {{ Constants.football_husband_payoff }}</td>
                    <td>{{ Constants.mismatch_payoff }}, {{ Constants.mismatch_payoff }} </td>
                </tr>
                <tr>
                    <th>Opera</th>
                    <td>{{ Constants.mismatch_payoff }}, {{ Constants.mismatch_payoff }}</td>
                    <td>{{ Constants.opera_husband_payoff }}, {{ Constants.opera_wife_payoff }}</td>
                </tr>
            </table>
        </div>
    </div>

    <p>
         For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
