{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Compete
{% endblock %}

{% block content %}

        <p>
        In this experiment, players play as firm owners (in duopoly market), each deciding simultaneously on how
        much price to set for their products. The player with the lowest price carries the day and becomes the winner.
    </p>
    <p>
        The minimum price to set is {{ marginal_cost }}. The maximum price to set is {{ maximum_price }}.
    </p>
    <p>
        The winner's payoff is calculated as the lowest price set minus the minimum price (taken as marginal costs).
        The loser has nothing to gain, hence no payoff. In case of a tie, then the payoff is the average of price
        set by the two players minus minimum price.
    </p>



{% endblock %}