{% extends "global/Base.html" %}
{% load i18n %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}

    <p>
        <em>Note: As this is a sample game, only one question is displayed.</em>
    </p>

    {% formfield player.q_gender %}

    {% next_button %}

{% endblock %}

{% block content_at_bottom_of_body %}

    <script type="text/javascript">
        function sort(a, b) {
            return (a.innerHTML > b.innerHTML) ? 1 : -1;
        }
        $('#id_q_country option').sort(sort).appendTo('#id_q_country');
    </script>

{% endblock %}
