{% load i18n %}

<style type="text/css">
    h4.panel-sub-heading {
        margin-top:20px;
    }
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
</style>

<div class="well well-lg" style="padding-top:3px; padding-bottom:5px; margin-top:20px;">

    <div class="panel-body">

        <h4 class="panel-sub-heading">Principal's role</h4>

        <p>Creates a contract by deciding on the fixed payment and the Agent's returns share.</p>

        <h4 class="panel-sub-heading">Agent's role</h4>

        <p>Decides on whether to accept or reject the Contract.</p>

        <h4 class="panel-sub-heading">Rules</h4>

        <p>For contract offers the following rules hold: <br>
            −{{ fixed_payment }} ≤ fixed payment ≤ {{ fixed_payment }} <br>
            The Agent's return share: between 0% and 100% (0%, 10%, 20%,…,100%).
        </p>

        <h4 class="panel-sub-heading">Payoffs</h4>
        <p>
            The Agent gets:<br>
            [Agent's return share in %]×(total return) + fixed payment – cost of the Agent's work effort
        </p>
        <p>
            The Principal gets: <br>
            [100% – Agent's return share in %]×(total return) – fixed payment
        </p>

        <p>Table showing the relationship between the Agent's effort and the generated total return from their costs</p>
        <table class="table">
            <tr>
                <th>Agent's work effort</th>
                <th>Total return from Agent's effort</th>
                <th>Cost of work effort by Agent</th>
            </tr>

            {% for effort, return, cost in efforts_returns_costs %}
                <tr>
                    <td>{{ effort }}</td>
                    <td>{{ return }}</td>
                    <td>{{ cost }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>