{% load i18n %}

<link rel="stylesheet" type="text/css" href="/static/katex/katex.min.css">
<script src="/static/katex/katex.min.js" type="text/javascript"></script>

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
    }
</style>

<div class="well well-lg" style="padding-top:0px; padding-bottom:0px; margin-top:20px;">

    <div class="panel-body">

        <h3 class="panel-sub-heading">
            Rules
        </h3>

        <p>
            Player A will propose a contract to Player B. The contract includes two figures that must be chosen as follows:
        </p>

        <ul>
            <li><i>Fixed payment</i>, which can be chosen as any number from at least –{{ fixed_payment }} to at most {{ fixed_payment }}</li>
            <li><i>Return share</i>, which can be chosen as a multiple of 10%, that is 10%, 20%, … , 90%, or 100%</li>
        </ul>

        <p>Note that a negative fixed payment means that Player B will have to pay the amount to Player A.</p>

        <p>
            Once Player A has submitted the contract, Player B must decides whether to accept or to reject it.
        </p>

        <p>
            If rejected:
        </p>

        <ul>
            <li>Player A will receive {{ reject_principal_pay }}</li>
            <li>Player B will receive {{ reject_agent_pay }}</li>
        </ul>

        <p>
            If accepted, Player B then chooses a <i>level of effort</i>, which can be any whole number from at least 1 to at most 10.
            Effort exertion is costly only to Player B. The exerted level of effort determines the <i>total return</i>,
            which is to be apportioned according to the proposed return share.
        </p>

        <ul>
            <li>Player A will receive: <br /> (100% – [B's return share in %]) × [total return] – [B's fixed payment]</li>
            <li>Player B will receive: <br /> [B's return share in %] × [total return] + [B's fixed payment] – [B's effort cost]</li>
        </ul>

        <p>The following table shows the relationship between Player B's effort, the cost of effort, and the resulting total return:</p>

        <table class="table table-condensed" style="width:350px">
            <tr>
                <th>B's effort level</th>
                <th>B's effort cost</th>
                <th>Total return</th>
            </tr>
            {% for effort, return, cost in efforts_returns_costs %}
                <tr>
                    <td>{{ effort }}</td>
                    <td>–{{ cost }}</td>
                    <td>{{ return }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

</div>
