{% extends "global/Base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>Tragedy of the commons game. Multiple players are requested to cooperate in utilizing a common good or
    defect at a cost.</p>

    <p>The payoffs are calculated as shown in the table below:</p>
    <table class="table" style="table-layout:fixed; max-width:500px; margin-top:15px;">
        <tr>
            <th style="border:0; border-right:1px solid #ddd; width:30%;"></th>
            <th style="text-align:center; border:1px solid #ddd;">You: Cooperate</th>
            <th style="text-align:center; border:1px solid #ddd;">You: Defect</th>
        </tr>
        <tr>
            <th style="border:1px solid #ddd;">Other Players: Cooperate</th>
            <td style="border:1px solid #ddd;">{{ common_gain }}, {{ common_gain }}</td>
            <td style="border:1px solid #ddd;">{{ defect_gain }}, {{ common_cost }}</td>
        </tr>
        <tr>
            <th style="border:1px solid #ddd;">Other Players: Defect</th>
            <td style="border:1px solid #ddd;">{{ common_cost }}, {{ defect_gain }}</td>
            <td style="border:1px solid #ddd;">{{ common_loss }}, {{ common_loss }}</td>
        </tr>
    </table>

{% endblock %}