{% load otree i18n %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        {% trans 'Instructions' %}
    </h3>

    <p>
        {% blocktrans trimmed with players_per_group=Constants.players_per_group guess_max=Constants.guess_max %}
        You are in a group of {{ players_per_group }} people.
        Each of you will be asked to choose a
        number between 0 and {{ guess_max }}.
        The winner will be the participant whose
        number is closest to 2/3 of the
        average of all chosen numbers.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with jackpot=Constants.jackpot %}
        The winner will receive {{ jackpot }}.
        In case of a tie, the {{ jackpot }}
        will be equally divided among winners.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with num_rounds=Constants.num_rounds %}
        This game will be played for {{ num_rounds }} rounds.
        {% endblocktrans %}
    </p>

</div>
</div>