{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {% trans 'Round' %} {{ subsession.round_number }} {% trans 'of' %} {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>{% trans 'Instructions' %} </h4>
    <p>
        {% trans 'This is a matching pennies game. Player 1 is the Mismatcher and wins if the choices mismatch. Player 2 is the Matcher and wins if they match.' %}
    </p>

    <p>
        {% trans 'At the end, a random round will be chosen for payment.' %}
    </p>

    <p>

    <h4>{% trans 'Round history' %}</h4>
    <table class="table">
        <tr>
            <th>{% trans 'Round' %}</th>
            <th>{% trans 'Player and outcome' %}</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>
                    {% trans 'You were the' %} {% if p.is_matcher %}{%  trans 'Matcher' %}{% else %}{%  trans 'Mismatcher' %}{% endif %}
                    {% trans 'and' %} {% if p.is_winner %}{%  trans 'won' %} {% else %} {%  trans 'lost' %} {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {% trans 'In this round, you are the' %} {% if player.is_matcher %} {%  trans 'Matcher' %}{% else %} {%  trans 'Mismatcher' %}{% endif %}.
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
