
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        In this study you will play three rounds of "Matching Pennies".
    </p>

    <p>
        At the beginning, you will be randomly assigned to an opponent and will keep playing against that same opponent in all three rounds.
    </p>

    <p>
        Player 1 chooses either "Heads" or "Tails". Player 2 guesses what Player 1 chose.
    </p>

    <ul>
        <li>If the guess is correct, Player 2 receives 100 points and Player 1 receives nothing.</li>
        <li>If the guess is incorrect, Player 1 receives 100 points and Player 2 receives nothing.</li>
    </ul>

    <p>
        For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>

</div>
