{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {%  trans 'Final Results' %}
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>{% trans 'Round' %}</th>
            <th>{% trans 'Player and outcome' %}</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>
                  {%  trans 'You were the' %} {% if p.is_matcher %}{%  trans 'Matcher' %}{% else %}{%  trans 'Mismatcher' %}{% endif %}
                  {%  trans 'and' %} {% if p.is_winner %} {%  trans 'won' %} {% else %} {%  trans 'lost' %} {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {% trans 'The paying round was' %} {{ paying_round }}.
        {% trans 'Your total payoff is therefore' %} {{ total_payoff }}.
    </p>

{% endblock %}
