{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results for Rounds 1–{{ total_rounds }}
{% endblock %}

{% block content %}

    <p>
        This is a summary of the rounds played.
    </p>

    <table class="table" style="width:400px; margin-top:20px;">
        <tr>
            <th>Round</th>
            <th>Player and outcome</th>
            <th>Points</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.subsession.round_number }}</td>
                <td>You were {{ p.role }} and {% if p.is_winner %} won {% else %} lost {% endif %}</td>
                <td>{{ p.payoff }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        You earned {{ total_payoff }}. In addition to that, you get a participation fee of {{ Constants.base_points }}.
    </p>

    <p>
        In total, you receive {{ total_plus_base }}.
    </p>


    {% next_button %}

    {% include 'matching_pennies/Instructions.html' %}

{% endblock %}
