{% load otree i18n %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
       {% trans "Instructions" %}
    </h3>
    <p>
        {% trans "This is a trust game with 2 players." %}
    </p>
    <p>
        {% blocktrans trimmed with endowment=Constants.endowment %}
        To start, participant A receives {{ endowment }};
        participant B receives nothing.
        Participant A can send some or all of his {{ endowment }} to participant B.
        Before B receives this amount it will be tripled.
        Once B receives the tripled amount he can decide to send some or all of it back to A.
        {% endblocktrans %}
    </p>
    </div>
</div>