{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question {{ num_q }} of {{ total_q }}
{% endblock %}

{% block content %}

    {% if num_q == 1 %}
        <p>
            {% formfield player.training_question_1 with label="Suppose firm Q produced 20 units and firm P produced 30 units. What would be the profit for firm P?" %}
        </p>
    {% endif %}

    {% next_button %}

    {% include 'cournot_competition/Instructions.html' %}

{% endblock %}
