{% extends "global/Base.html" %}
{% load staticfiles floppyforms otree_tags %}
{% load i18n %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        You have been randomly paired with another player.
        {% if player_id == 1 %}
            You are the <strong>dictator</strong>, and have been given {{ allocated_amount }}. The other player has not been given anything.
        {% else %}
            This other player is the <strong>dictator</strong>, and has been given {{ allocated_amount }}. You have not been given anything.
        {% endif %}
    </p>

    <p>
        {% if player_id == 1 %}
            You will be given the opportunity to offer part of this amount to the other player.
            The offered amount cannot be rejected.
        {% else %}
            The dictator will be given the opportunity to offer part of this amount to you. The offered amount cannot be rejected.
        {% endif %}
    </p>

    <p>
        Please click "Next" to proceed.
    </p>

    {% next_button %}

{% endblock %}
