{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Вступление
{% endblock %}

{% block content %}

    <p>
        Второе действие потребителей – голосование за то, чтобы сменить режим. Это голосование затратно, и стоит каждому участнику от 0 до 5 единиц на их выбор. Если сумма протестных баллов составит {{ Constants.points_to_overthrow }} или более, в группе происходит смена режима, в итоге чего они единовременно теряют по {{ Constants.losses_from_overthrow }} баллов все, зато далее могут сами определять нужное количество реформ. Если число одобренных ими реформ совпадет, они получают доход, соответствующий избранному ими числу реформ; если же нет, не реализуется ни одна реформа, т. е. каждый получает базовый доход в размере 20 единиц, но при этом каждый теряет {{ Constants.losses_from_chaos }} баллов в этот раунд -- из-за хаоса.
    </p>


    {% next_button %}

{% endblock %}
