{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {% trans 'Your Choice' %}
{% endblock %}

{% block content %}

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">{% trans 'The Other Participant' %}</th>
            </tr>
            <tr>
                <th>{% trans 'Cooperate' %}</th>
                <th>{% trans 'Defect' %}</th>
            </tr>
            <tr>
                <th rowspan="2"><span>{% trans 'You' %}</span></th>
                <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">{% trans 'I will cooperate' %}</button></td>
                <td>{{Constants.both_cooperate_payoff}}, {{Constants.both_cooperate_payoff}}</td>
                <td>{{ Constants.betrayed_payoff }}, {{Constants.betray_payoff}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Defect" class="btn btn-primary btn-large">{% trans 'I will defect' %}</button></td>
                <td>{{Constants.betray_payoff}}, {{ Constants.betrayed_payoff }}</td>
                <td>{{Constants.both_defect_payoff}}, {{Constants.both_defect_payoff}}</td>
            </tr>
        </table>
    </div>

    <p>{% trans 'Here you can chat with the other participant.' %}</p>

    {% chat %}
    <div class="d-none">{% trans 'Send' %}</div>


    {% include Constants.instructions_template %}

{% endblock %}
