{% load i18n %}

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div class="well well-lg" style="padding-top:5px; padding-bottom:15px; margin-top:20px;">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        In this study, you will be randomly and anonymously paired with another participant.
        Each of you simultaneously chooses whether you want to cooperate or defect.
        Your payoffs will be determined by the choices of both as below:
    </p>

    <ul>
        <li>If both choose to cooperate, each will receive 200 points.</li>
        <li> one chooses to cooperate and the other chooses to defect, the former will receive nothing and the latter 300 points.</li>
        <li>If both choose to defect, each will receive 100 points.</li>
    </ul>

    <p>
        The instructions are exactly the same for all participants, and will remain visible for your convenience at the bottom of all pages.
    </p>

</div>
