{% load otree i18n %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        {% trans "Instructions" %}
    </h3>

    <p>
        {% blocktrans %} You have been randomly and anonymously paired with another participant.
        Now please image the following scenario. {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with min_amount=Constants.min_amount max_amount=Constants.max_amount %}
        You and another traveler (the other participant) just returned from a
        remote island where both of you bought the same antiques.
        Unfortunately, you discovered that your airline managed to smash the
        antiques, as they always do. The airline manager assures you of
        adequate compensation. Without knowing the true value of your antiques,
        he offers you the following scheme. Both of you simultaneously and
        independently make a claim for the value of your own antique (ranging
        from {{ min_amount }} to {{ max_amount }}):
        {% endblocktrans %}
    </p>
    <ul>
        <li>
            {% trans "If both claim the same amount, then this amount will be paid to both." %}
        </li>
        <li>
            {% blocktrans trimmed with adjustment_abs=Constants.adjustment_abs %}
            If you claim different amounts, then the lower amount will be paid
            to both. Additionally, the one with lower claim will receive a
            reward of {{ adjustment_abs }}; the one with higher claim will
            receive a penalty of {{ adjustment_abs }}.
            {% endblocktrans %}
        </li>
    </ul>
</div>
</div>